version: '3.8'
name: delivery
services:
  app:
    depends_on:
      - db
      - redis
      - keycloak
    restart: on-failure
    container_name: myapp
    image: delivery-delivery-infrastructure:1.0.0
    expose:
      - "8081"
    ports:
      - "8081:8081"
    build:
      context: ../../infrastructure
      dockerfile: docker/delivery-delivery-infrastructure/Dockerfile
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://mydb:5432/postgres
      - SPRING_DATASOURCE_USERNAME=tomasz
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate
      - SPRING_DATA_REDIS_HOST=myredis
      - SPRING_PROFILES_ACTIVE=docker
  db:
    image: postgres:latest
    container_name: mydb
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=tomasz
      - POSTGRES_PASSWORD=password
    expose:
      - "5432"
    ports:
      - "5434:5434"
    volumes:
      - mydb-data:/var/lib/postgresql/data
  redis:
    image: redis:latest
    container_name: myredis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    command: [ "start-dev", "--import-realm" ]
    #    command: [ "start", "--hostname=localhost","--hostname-strict-https=false", "--import-realm" ]
    depends_on:
      - keycloak-postgres
    container_name: mykeycloak
    ports:
      - "8080:8080"
    environment:
      - KEYCLOAK_ADMIN=root
      - KEYCLOAK_ADMIN_PASSWORD=root
      - KC_DB=postgres
      - KC_DB_SCHEMA=public
      - KC_DB_URL=jdbc:postgresql://keycloak-db:5432/postgres
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=keycloak
    volumes:
      - keycloak-data:/data
      - ./keycloak/DeliveryKeycloak-realm.json:/opt/keycloak/data/import/DeliveryKeycloak-realm.json
  keycloak-postgres:
    image: postgres:latest
    container_name: keycloak-db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=keycloak
    expose:
      - "5432"
    ports:
      - "5435:5434"
    volumes:
      - keycloak-db-data:/var/lib/postgresql/data
volumes:
  redis-data:
  keycloak-data:
  mydb-data:
  keycloak-db-data: